<div class="modal-header p-0">
  <button
    (click)="hideCertificateModal()"
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Cancel"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body mt-0 pt-0">
  <div class="card-body" *ngIf="user">
    <div class="row">
      <div class="col-12">
        <h5 class="mt-2 mb-3">
          {{user?.familyName}} {{user?.givenName}}
          <span *ngIf="dateCreated">{{ dateCreated | date:'short' }}</span>
          (
          <span *ngIf="isVerified" class="text-purple" [translate]="'SignatureInfo.Verified'"></span>
          <span *ngIf="!isVerified" class="text-red" [translate]="'SignatureInfo.NotVerified'"></span>
          )
          <small> {{examinationCode}} </small>
        </h5>
      </div>
    </div>
    <div class="mb-3">
      <div class=" d-none d-md-block">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" [class.active]="tab === 1" rel="tab1"
               (click)="tab =1">{{'SignatureInfo.General' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="tab === 2" rel="tab2"
               (click)="tab =2"> {{'SignatureInfo.Details' | translate}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="tab===1">
      <div class="card">
        <h5 class="d-block card-header mt-2 mb-n2 align-items-center">
          <i class="fa fa-certificate"></i>
          {{'SignatureInfo.CertificateInformation' | translate}}
        </h5>
        <hr/>
        <div class="d-block card-body">
          <div class="container font-lg mt-n2 pt-n2" *ngIf="purposes && purposes.length">
            <div class="row">
              <div>
                <span> {{'SignatureInfo.CertificatePurposes.Header' |translate}}</span>
              </div>
            </div>
            <ul>
              <li *ngFor="let purpose of purposes">
                {{'SignatureInfo.CertificatePurposes.' + purpose |translate}}
              </li>
            </ul>
            <hr/>
          </div>
          <div *ngFor="let attribute of generalAttributes | slice: 0:2" class="row font-lg">
            <div *ngIf="attribute && attribute.value">
              <div class="flex-sm-column flex-wrap">
                <span class="text-theme col-4 text-nowrap">{{attribute?.translationKey | translate}}: </span>
                <span class="col-8">{{attribute.value}}</span>
              </div>
            </div>
          </div>
          <div class="row font-lg">
          <span *ngFor="let attribute of generalAttributes |slice: 2:4" class="flex-sm-column">
            <span *ngIf="attribute && attribute.value">
              <span class="col-4 text-theme text-nowrap">{{attribute?.translationKey | translate}}: </span>
              <span class="col-4 pr-2">{{attribute.value |date:'short'}}</span>
            </span>
          </span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="tab=== 2">
      <div id="group-list" class="flex-column">
        <div class="sis--list-group sis--list-group-body">
          <ul class="sis--list-group sis--list-group-header">
            <li class="sis--list-group-item">
              <div class="d-flex justify-content-center align-items-center">
                <div class="sis--list-group-item_lg_column d-none d-block"
                     [translate]="'SignatureInfo.Field'"></div>
                <div class="sis--list-group-item_lg_column d-none d-block px-4"
                     [translate]="'SignatureInfo.Value'"></div>
              </div>
            </li>
          </ul>
          <ul class="sis--list-group sis--list-group-body">
            <li class="sis--list-group-item" *ngFor="let attribute of signatureAttributes">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column d-none d-block flex-wrap">
              <span class="text-secondary">
                <i class="fa fa-certificate"></i>
                {{attribute.translationKey | translate}}
              </span>
                </div>
                <div class="sis--list-group-item_lg_column d-block flex-wrap">
              <span class="text-secondary p-2 p-md-0 text-break " [ngClass]="{
                'text-red': attribute.validation && attribute.validation.showValidation && !attribute.validation.isValid,
                'text-green': attribute.validation && attribute.validation.showValidation && attribute.validation.isValid
              }">{{ attribute.value}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button
        (click)="hideCertificateModal()"
        class="btn btn-success"
        [translate]="'SignatureInfo.Close'"
      ></button>
    </div>
  </div>
</div>
